<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.leafbook.serviceTopicApi.dao.Article2EntryModelMapper">
    <insert id="insertMultiEntryIds">
        insert into article_2_entry_model (article_id,entry_id,version,is_black,create_time,update_time) values
        <foreach collection="entryIds" item="entryId" close=";" index="index" separator=",">
            (#{articleId},#{entryId},1,0,#{time},#{time})
        </foreach>
    </insert>
</mapper>