<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.leafbook.serviceEntryApi.dao.EntryShowModelMapper">
    <select id="selectAllEntryAmount" resultType="java.lang.Long">
        select count(distinct entry_id) from entry_show_model
        <where>
            is_black=0
        </where>
    </select>

    <select id="selectSingleEntryByEntryId" resultType="org.leafbook.api.modelApi.entryInfo.EntryShowModel">
        select * from entry_show_model
        <where>
            entry_id=#{entryId}
            and is_black=0
        </where>
    </select>

    <select id="selectMultiEntryByEntryIds" resultType="org.leafbook.api.modelApi.entryInfo.EntryShowModel">
        select * from entry_show_model
        <where>
            is_black=0
            and entry_id in
            <foreach collection="entryIds" item="entryId" index="index" open="(" close=")" separator=",">
                #{entryId}
            </foreach>
        </where>
    </select>

    <select id="selectMultiEntryByPage" resultType="org.leafbook.api.modelApi.entryInfo.EntryShowModel">
        select * from entry_show_model
        <where>
            is_black=0
        </where>
        limit #{start},#{end}
    </select>
    <select id="selectAllEntry" resultType="org.leafbook.api.modelApi.entryInfo.EntryShowModel">
        select * from entry_show_model
        <where>
            is_black=0
        </where>
    </select>

    <select id="selectRandomEntry" resultType="org.leafbook.api.modelApi.entryInfo.EntryShowModel">
        select * from entry_show_model
        <where>
            is_black=0
        </where>
        order by rand()
        limit #{number}
    </select>

    <select id="selectRandomHotEntry" resultType="org.leafbook.api.modelApi.entryInfo.EntryShowModel">
        select * from entry_show_model
        <where>
            entry_type='hot'
            and is_black=0
        </where>
        order by rand()
        limit #{number}
    </select>
    <select id="selectRandomEntryByType" resultType="org.leafbook.api.modelApi.entryInfo.EntryShowModel">
        select * from entry_show_model
        <where>
            entry_type=#{type}
            and is_black=0
        </where>
        order by rand()
        limit #{number}
    </select>
    <select id="selectAllEntryByType" resultType="org.leafbook.api.modelApi.entryInfo.EntryShowModel">
        select * from entry_show_model
        <where>
            entry_type=#{type}
            and is_black=0
        </where>
    </select>

    <select id="selectSingleDetectIsExistEntry" resultType="java.lang.Integer">
        select 1 from entry_show_model
        <where>
            entry_id=#{entryId}
            and is_black=0
        </where>
    </select>
    <select id="selectMultiDetectIsExistEntry" resultType="java.lang.Integer">
        select count(entry_id) from entry_show_model
        <where>
            is_black=0
            and entry_id in
            <foreach collection="entryIds" item="entryId" index="index" open="(" close=")" separator=",">
                #{entryId}
            </foreach>
        </where>
    </select>

    <select id="selectSearchAllEntry" resultType="org.leafbook.api.modelApi.entryInfo.EntryShowModel">
        select * from entry_show_model
        <where>
            entry_name like concat(concat('%',#{name}),'%')
            and entry_type=#{type}
            and is_black=0
        </where>
    </select>

</mapper>













