<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.leafbook.serviceRecordApi.dao.BrowseHistoryModelMapper">
    <select id="selectDetectIsExistArticleIdByUserId" resultType="java.lang.Integer">
        select 1 from browse_history_model
        <where>
            user_id=#{userId}
            and article_id=#{articleId}
            and is_black=0
        </where>
    </select>

    <select id="selectTopicBrowseAmount" resultType="java.lang.Long">
        select count(user_id) from browse_history_model
        <where>
            topic_id=#{topicId}
            and is_black=0
        </where>
    </select>

    <select id="selectMultiBrowseHistoryByUserId" resultType="org.leafbook.api.modelApi.recordInfo.BrowseHistoryModel">
        select * from browse_history_model
        <where>
            user_id=#{userId}
            and is_black=0
        </where>
        limit #{start},#{end}
    </select>


    <update id="deleteSingleBrowseHistoryByUserId">
        update browse_history_model set is_black=1
        <where>
            history_model_id=#{browseHistoryId}
            and user_id=#{userId}
            and is_black=0
        </where>
    </update>

    <update id="deleteMultiBrowseHistoryByUserId">
        update browse_history_model set is_black=1
        <where>
            user_id=#{userId}
            and is_black=0
            and history_model_id in
            <foreach collection="browseHistoryIds" item="browseHistoryId" index="index" open="(" close=")" separator=",">
                #{browseHistoryIds}
            </foreach>
        </where>
    </update>
</mapper>












